<section class="main-container">
  
     <h2 class="text-center" style="font-weight:700 ;">Edit Category</h2>
  
    
              {{#if err}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{message}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
        <form action="/admin/edit-category" method="post" id="form" enctype="multipart/form-data" >
            <!-- Email input -->
        
            <div class="form-floating mb-3">
               
                <input type="text" name="category" class="form-control" id="floatingInput1"  value="{{category.category}}" >
                <label for="floatingInput1">Category</label>
             <div class="error text-danger"></div>
            </div>
            <div class="form-floating mb-5">
            <img src="images/{{category.image}}" id="imagePreview" style="max-width: 300px; max-height: 300px; margin-top: 10px;" alt="{{category.image}}"><br>
            </div>
             <div class="form-floating mb-3">
                <input type="file" name="image" class="form-control" id="floatingInput2" onchange="previewImage()" value=""  >
                <label for="floatingInput2">Image</label>
                 <div class="error text-danger"></div>
            </div>
          
            <div class="form-floating mb-3">
                <input type="hidden" name="id" class="form-control" id="floatingid"
                  value="{{category._id}}" required>
                <label for="floatingid"></label>
            </div>
              
            <!-- 2 column grid layout for inline styling -->
          

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Update</button>
                  <a href="/admin/category"><h5>Back<span style="color: var(--color-primary);">Category</span></h5></a>

           
        </form>
        </div>
    </div>

</section>

<script>
    function previewImage() {
        const input = document.getElementById('floatingInput2');
        const preview = document.getElementById('imagePreview');
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
         
        }
    }


    const form = document.getElementById('form');
const Name = document.getElementById('floatingInput1');
 const Image = document.getElementById('floatingInput2');

 form.addEventListener('submit',e=>{
    e.preventDefault();
    validateInputs();
    });

const setError = (element,message)=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = message;
inputControl.classList.add('error');
inputControl.classList.remove('success');
}

const setSuccess = element=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = '';
inputControl.classList.add('success');
inputControl.classList.remove('error')
}

    const validateInputs=()=>{
const nameValue = Name.value.trim();
const imageValue = Image.value.trim();

if(nameValue === ''){
setError(Name, 'Name is required');
}else{
setSuccess(Name)
}

if(imageValue === ''){
setError(Image, 'File is required');
}else{
setSuccess(Image)
}

const allInputsValid = document.querySelectorAll('.success').length >=1; // Adjust the count based on the number of input fields
 if (allInputsValid) {
   form.submit(); // Manually submit the form
 }
};
</script>