<section class="" style="min-height: 150vh; background-color:lightgreen">
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
         <div class="line mb-2">
          </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/general">General</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/password-settings">Change password</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/address">Address</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-social-links">Social links</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">Connections</a>
                            <hr>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a>
                            <hr>
                    </div>
                </div>
                <div class="col-md-9">
                     
                    <div class="tab-content">
                            {{#if message}}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong> {{message}}</strong> 
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}
                       <!-- <div class="tab-pane fade" id="account-info">-->
                        
                        
                            <div class="card-body pb-2" style="background-color:#fff5ee;">
                              
                                <form action="/edit-address" method="post" id="form">
                               
                                <h4>Address</h4>
                                <div class="form-group mb-3">
                                    <label class="form-label">Address</label>
                                    <!--<input type="text" rows="5" class="form-control" name="address">-->
                                    <textarea   rows="5" class="form-control" name="address" id="address">{{address.address}}</textarea>
                                    <div class="error text-danger"></div>
                                    <input type="hidden" name="address_id" value="{{address._id}}">
                                
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">District</label>
                                    <input type="text" class="form-control" name="district" id="district" value="{{address.district}}">
                                     <div class="error text-danger"></div>
                                </div>
                                  <div class="form-group mb-3">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control" name="city" id="city" value="{{address.city}}">
                                     <div class="error text-danger"></div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Pincode</label>
                                    <input type="text" class="form-control" name="pincode" id="pincode" value="{{address.pincode}}">
                                     <div class="error text-danger"></div>
                                </div>
                                  <div class="form-group mb-3">
                                    <label class="form-label">State</label>
                                    <input type="text" class="form-control" name="state" id="state" value="{{address.state}}">
                                     <div class="error text-danger"></div>
                                </div>
                                  <div class="form-group mb-3">
                                    <label class="form-label">Country</label>
                                    <input type="text" class="form-control" name="country" id="country" value="{{address.country}}">
                                     <div class="error text-danger"></div>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                                        <!--<button type="button" class="btn btn-default">Cancel</button>-->
                                       
                                </div>
                             
                                </form>
                                <hr>
                            </div>
                            
                        <!--</div>-->
                       
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<script>

 const form = document.getElementById('form');
    const Address = document.getElementById('address');
    const District = document.getElementById('district');
    const City = document.getElementById('city');
    const Pincode = document.getElementById('pincode');
    const State = document.getElementById('state');
    const Country = document.getElementById('country');

  
form.addEventListener('submit', e => {
  e.preventDefault();
  validateInputs();
});
const setError = (element,message)=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = message;
inputControl.classList.add('error');
inputControl.classList.remove('success');
}

const setSuccess = element=>{
const inputControl = element.parentElement;
const errorDisplay = inputControl.querySelector('.error');

errorDisplay.innerText = '';
inputControl.classList.add('success');
inputControl.classList.remove('error')
}


const isValidPincode = pincode => {
  const re = /^\d{6}$/;
  return re.test(pincode);
};

const validateInputs = () => {

  const addressValue = Address.value.trim();
  const districtValue = District.value.trim();
  const cityValue = City.value.trim();
  const pincodeValue = Pincode.value.trim();
  const stateValue = State.value.trim();
  const countryValue = Country.value.trim();

  if (addressValue === '') {
    setError(Address, 'Address is required');
  } else {
    setSuccess(Address);
  }

  if (districtValue === '') {
    setError(District, 'District is required');
  } else {
    setSuccess(District);
  }

  if (cityValue === '') {
    setError(City, 'City is required');
  } else {
    setSuccess(City);
  }

  if (pincodeValue === '') {
    setError(Pincode, 'Pincode is required');
  } else if (!isValidPincode(pincodeValue)) {
    setError(Pincode, 'Provide a valid 6-digit pincode');
  } else {
    setSuccess(Pincode);
  }

  if (stateValue === '') {
    setError(State, 'State is required');
  } else {
    setSuccess(State);
  }

  if (countryValue === '') {
    setError(Country, 'Country is required');
  } else {
    setSuccess(Country);
  }

  
  const allInputsValid = document.querySelectorAll('.success').length === 6; 
  if (allInputsValid) {
    form.submit(); // Manually submit the form
  }
};

  </script>
