 <section class="" style="background-color: lightgreen;">
  
   <div class=" d-block " style="position: relative; width:100%" >
   <video  src="/images/video (2160p).mp4" class="object-fit-contain d-inline w-100" style=""   type="video/mp4" autoplay muted preload="auto"></video>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: aliceblue; font-size: 24px; font-weight: bold;">
        Happy to have you here
         <div class="line my-4">

   </div> </div>
</div>


<h3 class="text-center mt-5">GROCERIES</h3>

<div class=" row  m-5" style="background:#f875">

    <div class="col ">
   <a href ="/all"><img src="images/18.jpg" width="150px" height="100px" class="rounded rounded-circle m-5 "  alt="images/1699781995558-wp2293559.jpg"></a> 
    <p class=" " style="margin:0 100px"> <a href="/all" style="text-decoration: none;" class="text-success">All</a></p>
  </div>

   {{#each cat_data}}
   {{#unless this.is_disabled}}
  <div class="col ">
  <a href="/{{this.category}}"><img src="images/{{this.image}}" width="150px" height="100px" class="rounded rounded-circle m-5 "  alt="{{this.image}}"></a> 
    <p class=" " style="margin:0 100px"> <a href="/{{this.category}}" style="text-decoration: none;" class="text-success">{{this.category}}</a></p>
  </div>
  {{/unless}}
   {{/each}}
</div>


<div class="row">
   <div class="col">

   </div>
   <div class="col">

   </div>
   <div class="col">
      
   </div>
</div>

 </section>
 <script>
   const video = document.querySelector('video');
   video.addEventListener('ended', function() {
      video.currentTime = 0;
      video.play();
   });
</script>