<section class="" style="background-color: #fff5ee !important;">
 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {{#if banner1}}
    <div class="carousel-item active ">
       <div class="wrapper">
        <div class="image"> 
<img src="images/{{banner1}}" class="d-block w-100" alt="...">
          <div class="content">
            <h1 class="display-4 d-none d-md-block">Hello {{data}},Welcome</h1>
            <a href="/grocery"><button class="btn btn-lg d-none d-md-inline text-decoration-none">Shop now</button></a>
          </div>
        </div>
       </div>
    </div>
    {{/if}}
    {{#if banner2}}
    <div class="carousel-item">
      <img src="images/{{banner2}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
         <h5 class=" fs-4 display-4">Fresh fruits</h5>
        <p class=" fs-3 lead">We are providing organic fruits check it out.</p>
       </div>
    </div>
    {{/if}}
    {{#if banner3}}
    <div class="carousel-item">
      <img src="images/{{banner3}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
         <h5 class="display-4">Add spices to make food delicious</h5>
        <p class="lead">We have the different varities of spices available</p>
       </div>
    </div>
    {{/if}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="d-flex justify-content-around p-3" style="height: 100px; background-color:lightgreen">
    <div class="d-flex">
        <div class="bi bi-box me-3 icon-bi" style="font-size: 50px;"></div>
        <div class="mt-2">
            <h6 class="text">Free Local Delivery</h6>
            <p class="text1">On all orders over 100</p>
        </div>
    </div>
     <div class="d-flex">
        <div class="fa-solid fa-leaf  me-3 mt-2 icon-bi" style="font-size: 50px;"></div>
        <div class="mt-2">
            <h6 class="text">Freshness Guarantee</h6>
            <p class="text1">From farm to fork</p>
        </div>
    </div>
     <div class="d-flex">
        <div class="fa-regular fa-circle-check  me-3 mt-2 icon-bi" style="font-size: 50px;"></div>
        <div class="mt-2">
            <h6 class="text">Quality assured</h6>
            <p class="text1">Fill your basket faster</p>
        </div>
    </div>
</div>


<div class="about py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-5 offset-lg-7 col-md-6 col-sm-12 col-12">
        <p class="m-0">Organic products</p>
        <h1>About us
        </h1>
        <div class="line my-4">
          <p>Oganic product is food and drinks produced by methods with the standars of organic farming</p>
         <a href="/about"> <button class="btnab mt-2">Read more</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="seller bg-light py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 ">
        <h1 class="py-5">New Arrivals</h1>
        <div class="line mb-2">
          </div>
      </div>
    </div>
    <div class="row g-2 py-2">
      {{#each product1}}
      <div class="col-lg-6 newCard" id="" data-product-id="{{this._id}}">
        <div class="card">
          <div class="row">
            <div class="col-lg-6">
              <img src="/images/{{this.images.[0]}}" alt="" class="img-fluid">
            </div>
         
          <div class="col-lg-6 p-2"    >
                <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <h5 class="head1">{{this.name}}</h5>
              <p class="per1">{{this.description}}</p>
              <h5 class="head1">Price:{{this.price}}/-</h5>
          </div>
  
                  

           </div>
        </div>



      </div>
      {{/each}}
    
    <!-- <div class="col-lg-6 ">
        <div class="card">
          <div class="row">
            <div class="col-lg-6 ">
              <img src="images/f.jpg" alt="" class="img-fluid">
            </div>
         
          <div class="col-lg-6 p-2">
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <h5 class="head1">Guava</h5>
              <p class="per1">Fresh fruit</p>
              <h5 class="head1">50</h5>
          </div>

           </div>
        </div>
      </div>-->

    </div>

  </div>
</div>

</section>

<script>
  const cards = document.querySelectorAll('.newCard');

  cards.forEach(card => {
    card.addEventListener('click', function(event) {
      event.preventDefault();
      const productId = card.dataset.productId;
      window.location.href = `/product?id=${productId}`;
    });
  });
</script>
