<section class="container-fluid" style="min-height:250vh;background-color:lightgreen;">
  <h1 class="text-center mb-5 ">Order Details</h1>
    <div class="line mb-2" style="margin: 0 35%;">
          </div>
   {{#each order.product}}
    <div class="card mb-3 mx-auto mt-3" style="max-width: 540px;background-color:#fff5ee;">
    
  <div class="row g-0 ">
     
    <div class="col-md-4 ">
      <img src="images/{{this.productId.images.[0]}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8 ">
      <div class="card-body">
        <h5 class="card-title">{{this.productId.name}}</h5>
       <p class="card-text">Quantity:{{this.quantity}}</p>
        <p class="card-text">Price:{{this.price}}/-</p>
       <p class="card-text">Price(1):{{this.productId.price}}/-</p>
       
        <p class="card-text"><small class="text-body-secondary">{{this.productId.description}}</small></p>
      
      </div>
    </div>
    
  </div>
 
</div>
 {{/each}}
<div class="card text-center container" style="background-color:#fff5ee;">
  <div class="card-header">
    Delivery Details
  </div>
  <div class="card-body">
    <h5 class="card-title">Address</h5>
    <p class="card-text">{{order.address.address}}</p>
    <p class="card-text">Fullname:{{order.fullname}}</p>
    <p class="card-text">Phone:{{order.phone}}</p>
     <p class="card-text">Phone:{{order.phone}}</p>
      <p class="card-text">Address:{{order.address.[0].address}}</p>
       <p class="card-text">District:{{order.address.[0].district}}</p>
        <p class="card-text">City:{{order.address.[0].city}}</p>
         <p class="card-text">State:{{order.address.[0].state}}</p>
          <p class="card-text">Country:{{order.address.[0].country}}</p>
    
  </div>
  <div class="card-footer text-body-secondary">
   {{order.createdAt}}
  </div>
</div>

	<!--<div class="containerR">
		<div class="rating-wraP">
			<h2>Star Rating</h2>
			<div class="centeR">
				<fieldset class="ratinG">
					<input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
					<input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
					<input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
					<input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
					<input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
					<input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
					<input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
					<input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
					<input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
					<input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
				</fieldset>
			</div>

			<h4 id="rating-valuE"></h4>
		</div>
	</div>-->

<style>

</style>

</section>
<script>
  let star = document.querySelectorAll('input');
let showValue = document.querySelector('#rating-valuE');

for (let i = 0; i < star.length; i++) {
	star[i].addEventListener('click', function() {
		i = this.value;

		showValue.innerHTML = i + " out of 5";
	});
}
</script>